<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="pl.edu.agh.iosr.model.entity.UserEntity" />
        <mapping class="pl.edu.agh.iosr.model.entity.Tenant" />
        <mapping class="pl.edu.agh.iosr.model.entity.Role" />
        <mapping class="pl.edu.agh.iosr.model.entity.StockQuote" />
        <mapping class="pl.edu.agh.iosr.model.entity.StockCompany" />
    </session-factory>   
</hibernate-configuration>